body.modal-open {
    overflow: visible;
}

#menu-page .product-detail {
    cursor: pointer;
}

#menu-page #modal-box .qty-product input{
    text-align: center;
    width: 50px;
}

#menu-page #modal-box .qty-product i{
    cursor: pointer;
}